body {
  font-family: 'Oswald', sans-serif !important;
  min-height: 100vh;
  background-image: radial-gradient(
    at 81% 36%,
    hsla(199, 98%, 68%, 1) 0px,
    transparent 50%
  ),
  radial-gradient(at 61% 70%, rgba(109, 255, 145, 0.452) 0px, transparent 50%),
  radial-gradient(at 62% 99%, rgb(93, 104, 253) 0px, transparent 50%),
  radial-gradient(at 21% 31%, rgb(108, 0, 185) 0px, transparent 50%),
  radial-gradient(at 33% 24%, rgba(157, 182, 246, 0.253) 0px, transparent 50%),
  radial-gradient(at 27% 78%, rgba(142, 241, 211, 0.384) 0px, transparent 50%),
  radial-gradient(at 21% 14%, rgb(164, 113, 245) 0px, transparent 50%);
  }


.h1-style {
  color: rgb(0, 0, 0);
  text-align: center;
  
  }

.h1-stylenames{
  color: rgb(0, 0, 255);
  text-align: center
  
  }
.h2-style {
  color: rgb(0, 0, 0);
  text-align: center;
  }
.h2-style2 {
  color: rgb(25, 0, 255);
  text-align: center;
  }
.label-style1 {
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
}
hr {
  color: rgb(0, 0, 0);
  text-align: center;
  border-color: rgb(49, 27, 27);
  }

.table-style1 {
  
  color: rgb(0, 0, 0);
  text-align: center;
  border-collapse: collapse;
  width: 700%;
  max-width: 400px;
  margin: 0 auto;
    }

    
.table-style1 th {
      border: 1px solid rgb(0, 0, 0) ;
      font-weight: bold;
      text-align: left;
      padding: 8px;
    }
    
.table-style1 td {
      border: 1px solid rgb(0, 0, 0) ;
      border-bottom: 1px solid #472727;
      padding: 8px;
    }
    
.table-style1 h3 {
      font-size: 24px;
      margin-bottom: 16px;
    }

.labelstyletitle {
    color: rgb(0, 0, 0);
     font-size: 24px;
     text-align: center;
     }



title {
    color: rgb(0, 0, 0);
     font-size: 100px;
     font-family: 'Oswald', sans-serif;
  }

form {
  text-align: center;
}
img{
display:block;
margin:auto
}

.container {
  display: flex;
  justify-content: center;
}
       




